.draggable-container {
    position: relative;
    padding: 20px;
    transition: transform 0.3s ease;
    display: grid;

    &.over {
        opacity: 0.7;
    }

    &.left {
        transform: perspective(1000px) rotateY(-5deg) skewX(-2deg);
    }

    &.right {
        transform: perspective(1000px) rotateY(5deg) skewX(2deg);
    }
}

.draggable-container.over {
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}
