.container.active {
    .row-block {
        visibility: visible;
        cursor: crosshair;
    }
}

.row-block {
    align-content: center;
    padding: 3% 5%;
    border: 2px dashed #0092ff;
    text-align: center;
    visibility: hidden;

    * {
        margin: 0 !important;
    }

    &.disabled {
        cursor: not-allowed;
        opacity: 0.6;
    }
}
