.container {
    border-radius: 5px;
}

.draggable-element {
    padding: "5 5 0 5";
    position: relative;
    z-index: 4;
}

.draggable {
    opacity: 0.7;
    cursor: grabbing;
}

.circle {
    width: 20px;
    height: 20px;
    color: blue;
    border-radius: 50%;
    position: absolute;
}

